:root {
    --bs-success-rgb: 71, 222, 152 !important;
}

html,
body {
    overflow: relative;
    height: 100%;
    width: 100%;
    font-weight: bold;
    max-width: 1500px;
}

.btn-info.text-light:hover,
.btn-info.text-light:focus {
    background: #009087;
}
.card-header {
    background: #009087;
}
table, tbody, td, tfoot, th, thead, tr {
    border-color: #00908631 !important;
    border-style: solid;
    border-width: 0.5px !important;
}
#calendar {
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.modal-header {
    background-color: #009087;
    border-style: hidden;
}