.donate-now {
  list-style-type: none;
  /* margin: 25px 0 0 0; */
  padding: 0;
}

.donate-now li {
  float: left;
  /* margin: 0 5px 0 0; */
  width: 100px;
  height: 10px;
  position: relative;
}

.donate-now label,
.donate-now input {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.donate-now input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.donate-now input[type="radio"]:checked + label {
  background: #009087;
  color: #ededed;
}

.donate-now label {
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 90;
}

.donate-now label:hover {
  background: #ddd;
}

.donate-now button.delete {
  margin-left: 10px;
}

label, input, button {
  display: inline;
  margin: 10px;
}