/* to justify container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* text-align: justify; */
}

/* for new line */
p newLine {
  white-space: pre;
}
